{% extends 'base.html' %}

{% block content %}
{% load cloudinary %}  

{% if user.is_authenticated %}

<!-- Reservation List -->
<div class="container">

    <div class="reservation-top">
        <h5>Your Reservations</h5>
    </div>
    <div class="row" id="">
        <div class="col-12" >
            <div class="row text-center" >
                {% for reservation in reservation_list %}
                <div class="col-md-2" style="width: 25rem;">
                    <div class="shadow-sm card mb-2">
                        <div class="card-body mb-2" >
                            <div class="image-container">
                                {% for restaurant in restaurant_list %}
                                {% if "placeholder" in restaurant.image.url %}
                                <img class="card-img-top"
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                {% else %}
                                <img class="card-img-top" src="{{ restaurant.featured_image.url }}" alt="Restaurant image">
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="card-header">
                                <h5 class="card-title">{{ user|capfirst }}, Your Booking Detail:</h5>
                            </div>
                                <p class="card-text">First Name: {{ reservation.first_name }} </p>
                                <p class="card-text">Last Name: {{ reservation.last_name }}</p>
                                <p class="card-text">No. of Guests: {{ reservation.number_of_guests }}</p>
                                <p class="card-text">Date: {{ reservation.date }}</p>
                                <p class="card-text">Time: {{ reservation.time }}</p>
                                <p class="card-text">Additional Info: {{ reservation.additional_info }}</p>
                            <div class="btn-group btn-group-justified" style="width: 20rem;">
                                <a href="{% url 'edit' reservation.pk %}" class="btn btn-info">Edit</a>
                                <a href="{% url 'delete' reservation.pk %}" class="btn btn-danger">Delete</a> 
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:6 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
                
            </div>   
        </div>
    </div>
    {% if is_paginated %}
   
    <!-- Standard "pagination" code from Django ListView  -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endif %}
{% endblock %}

    