{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load cloudinary %}  

{% block content %}
{% if user.is_authenticated %}
<div class="masthead pb-4">
    <div class="container-fluid">
        <div class="row">
          <div >
            <img class="img-restaurant-detail" src="{{ restaurant.featured_image.url }}">            
          </div>
        </div>
    </div>
    <div class="container-fluid">
      <div class="row">
          <div class="col">
            <a href="{% url 'restaurant_detail' restaurant.pk %}" >
              <span class="card-title font-weight-bold"><strong>{{ restaurant.name }}</strong></span>
            </a> |
            <span class="card-text small"><i class="fa-solid fa-bowl-rice" aria-hidden="true"></i> {{ restaurant.get_cuisine_display }}</span> |
            <!-- Likes and number of likes  -->
            <strong>
              {% if user.is_authenticated %}
              <form class="d-inline" action="{% url 'restaurant_like' restaurant.pk %}" method="POST">
                {% csrf_token %}

                {% if liked %}
                <button type="submit" name="restaurantlike_id" value="{{ restaurant.pk }}" class="btn-like">
                  <i class="fas fa-heart" aria-hidden="true"></i>
                </button>

                {% else %}
                <button type="submit" name="restaurantlike_id" value="{{ restaurant.pk }}" class="btn-like">
                  <i class="far fa-heart" aria-hidden="true"></i>
                </button>

                {% endif %}

              </form>
              {% else %}
              <span class="card-text small"><i class="far fa-heart" aria-hidden="true"></i></span> 
              {% endif %}

              <span class="card-text small">{{ restaurant.number_of_likes }}</span> |

            </strong>
            <!-- Reviews and review count  -->
            <span class="card-text small"><i class="far fa-comments" aria-hidden="true"></i>{{ restaurant.review }}</span>
          </div>
      </div>
  </div>
</div>
<!-- <br> -->
<div class="container-fluid">
  <div class="row border-end">
    
    <!-- togglebar -->
    <div class="col-sm-12">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Overview</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Reviews</button>
          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Menu</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">

        <!-- Overview tab -->
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="container border-end"><br>
            <div class="row ">
              <!-- Restaurant Overview -->
              <div class="col-6">
                <h5 class="card-title">About {{ restaurant.name }}</h5>
                  {{ restaurant.description | safe }}
                <div class="row">
                  <div class="col-6">
                    <div class="card-body">
                        <div class="reviews" style="padding: 10px;">
                          <h5><i class="fa-solid fa-location-dot" aria-hidden="true"></i> <strong>Address:</strong> {{ restaurant.address }}</h5>                           
                        </div>
                    </div>
                  </div>
                  <div class="col-6 ">
                    <p><i class="fa-solid fa-bowl-rice" aria-hidden="true"></i> <strong>Cuisines:</strong> {{ restaurant.get_cuisine_display }}</p>
                    <p><i class="fa-regular fa-clock" aria-hidden="true"></i> <strong>Open Hours:</strong> {{ restaurant.get_time_display }}</p>
                    <p><i class="fa-solid fa-phone" aria-hidden="true"></i> <strong>Phone Numbers:</strong> {{ restaurant.phone }} </p>
                  </div>
              </div>
              </div>
              <!-- Booking form -->
              <div class="col-6">
                  <div class="card mx-auto" style="width: 25rem;">
                    <div class="card-body">
                        <div class="card-header text-center">
                            <h3 class="card-title">Make a Booking</h3>
                          </div><br>
                          <div class="text-center">
                            <form method="POST" id="id_date">
                              <input type="hidden" name="restaurant" value="{{ restaurant.pk }}">
                                {% csrf_token %}
                                {{ reservation_form.as_p }}
                                {{ crispy_forms | crispy }}
                                <div>
                                    <button type="submit" style="width: 22rem;" class="btn btn-primary">Confirm Reservation</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 
                </div>
            </div>
          </div>
        </div>

        <!-- Review tab -->
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class="container">
            <div class="row">
              <div class="col-8">
                <div class="card-body">
                  <br>
                  <h5><strong>Customer Reviews:</strong></h5>
                  <hr>
                    {% for review in reviews %}
                    <div class="reviews" style="padding: 10px;">
                        <p class="font-weight-bold">
                            <span class=" text-muted font-weight-normal">
                              Wrote on: {{ review.created_on | date:"D, d M Y" }},
                              {{ review.created_on | time:"H:ia" }}
                            </span> 
                        </p>
                        "{{ review.body }}" - {{ review.name }}
                        
                    </div><br><hr>
                    {% empty %}
                    <div>
                      <p>No customer reviews yet for this restaurant.</p>
                      <span>Be the first to write a review</span>
                    </div>
                    {% endfor %}
                </div>
              </div>
              <div class="col-4 border-end text-center">
                <!-- Reviews form -->
              <div class="review-form" style="width: 25rem;">
                <div class="card-body">
                    {% if reviewed %}
                    <div class="alert alert-success" role="alert">
                      {{ user.username }}, your review is awaiting approval
                    </div>
                    {% else %}
                    <h5><strong>Review this Restaurant:</strong></h5>
                    <p>Share your thoughts with other customers</p>
                    <p>Reviewing as: {{ user.username }}</p>
                    <form method="POST">
                      <input type="hidden" name="restaurant" value="{{ restaurant.pk }}">
                        {% csrf_token %}
                        {{ review_form.as_p}}
                        {{ crispy_forms | crispy }}
                      <div>
                          <button type="submit" style="width: 23rem;" class="btn btn-primary">Submit</button>
                      </div>
                    </form>
                </div>
              </div>                  
              </div>
            </div>
          </div>
        </div>

        <!-- Menu tab -->
        {% for menu in menus %}
        <div class="container-fluid">
          <div class="tab-pane fade " id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="border-end">
              <!-- Bootstrap tab with vertical message  -->
              <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <button class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Food</button>
                  <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Drinks</button>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">                  
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                      <!-- First Accordion  -->
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Menu Image
                          </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                          <div class="accordion-body">
                            <div class="reviews" style="padding: 10px;">
                              <p class="font-weight-bold">
                                <img class="img-restaurant-detail" src="{{ menu.menu_image.url }}">
                              </p>
                          </div>
                          <div>{{ menu.body | safe }}</div>
                          </div>
                        </div>
                      </div>
                       <!-- Second Accordion  -->
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            Menu Description
                          </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                          <div class="accordion-body">
                            <div><strong>Menu</strong></div> 
                            <div>Served Mon-Fri from <strong>{{ restaurant.get_time_display }}</strong></div>
                            {{ menu.description | safe }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock %}