{% extends 'base.html' %}
{% load crispy_forms_tags%}

{% block content %}

{% if user.is_authenticated %}
<div>
    <h2>Restaurants</h2>
    <form method="POST" action="{% url 'restaurants' %}">     
        <div class="col-sm-4">
            <div class="input-group date" id="datepicker">
                <span >
                    {% csrf_token %}
                    {{ restaurant_form.as_p }}
                    <!-- <img src="{{pic.image.url}}" alt="modelling"> -->
                </span>
            </div>
        <input type="submit" value="Submit">
    </form>
</div>
{% endif %}
{% endblock %}