{% extends 'base.html' %}
{% block content %}

{% load crispy_forms_tags %}
{% load cloudinary %}  

{% if user.is_authenticated %}
<div class="masthead">
    <div class="container-fluid">
        <div class="row ">
            <div >
                {% if "placeholder" in restaurant.image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                {% else %}
                <img src="{{ restaurant.featured_image.url }}" width="100%">
                {% endif %}
            </div>
            <!-- <h5 class="card-title">{{ restaurant.name }}</h5>
            <span class="card-text"><i class="fa-solid fa-location-dot"></i> {{ restaurant.address }}  | <i class="fa-regular fa-clock"></i> {{ restaurant.review }} | {{ restaurant.cuisine }} | <i class="far fa-heart"></i>{{ restaurant.rating }}</span>
            <hr /> -->
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
  <div class="row border-end">
    
    <!-- togglebar -->
    <div class="col-sm-8">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Overview</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Reviews</button>
          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Menu</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          
          <div class="container-fluid border-end"><br>
            <h5 class="card-title">{{ restaurant.name }}</h5>
            <p class="card-text"><i class="fa-solid fa-location-dot"></i> {{ restaurant.address }}</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
              molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
              numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
              optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
              obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
              nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
              tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
              quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos 
              sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
              recusandae alias error harum maxime adipisci amet laborum. Perspiciatis 
              minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit 
              quibusdam sed amet tempora. Sit laborum ab, eius fugit doloribus tenetur 
              fugiat, temporibus enim commodi iusto libero magni deleniti quod quam 
              consequuntur! Commodi minima excepturi repudiandae velit hic maxime
              doloremque. Quaerat provident commodi consectetur veniam similique ad 
              earum omnis ipsum saepe, voluptas, hic voluptates pariatur est explicabo 
              fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore 
              suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto ab laudantium
              modi minima sunt esse temporibus sint culpa, recusandae aliquam numquam 
              totam ratione voluptas quod exercitationem fuga. Possimus quis earum veniam 
              quasi aliquam eligendi, placeat qui corporis!
            </p>
            <div class="row">
              <div class="col-6">
                <div class="card-body">
                    <div class="reviews" style="padding: 10px;">
                      <h5><i class="fa-solid fa-circle-check"></i> Cuisines</h5>
                      <h5><i class="fa-solid fa-circle-check"></i> African</h5>
                      <h5><i class="fa-solid fa-circle-check"></i> Chinese</h5>
                      <h5><i class="fa-solid fa-circle-check"></i> Intercontinental</h5>
                        
                    </div><br>
                </div>
              </div>
              <div class="col-6 ">
              <!-- <hr /> -->
                <h5><i class="fa-regular fa-clock"></i></i> Operation Hours</h5>
                <h5><i class="fa-solid fa-phone"></i> Phone Numbers</h5>
                <h6><i class="fa-solid fa-location-dot"></i> {{ restaurant.address }}</h6>
            
              </div>
            </div>
          </div>


        </div>
        
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class="container-fluid ">
            <div class="row ">
              <div class="col-6">
                <div class="card-body">
                  <br>
                  <h5>Customer Reviews:</h5>
                    {% for review in reviews %}
                    <div class="reviews" style="padding: 10px;">
                        <p class="font-weight-bold">
                            <span class=" text-muted font-weight-normal">
                              Wrote on: {{ review.created_on | date:"D, d M Y" }},
                              {{ review.created_on | time:"H:ia" }}
                            </span> 
                        </p>
                        "{{ review.body }}"" - {{ review.name }}
                        
                    </div><br>
                    {% empty %}
                    <div>
                      <p>No customer reviews yet for this restaurant.</p>
                      <span>Be the first to write a review</span>
                    </div>
                    {% endfor %}
                </div>
              </div>
              <div class="col-6 border-end text-center ">
                {% if reviewed %}
                <div class="alert alert-success" role="alert">
                  {{ user.username }}, your review is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <br>

                <!-- Reviews form -->
                <div class="card mx-auto" style="width: 25rem;">
                  <div class="card-body">
                      <div class="card-header text-center">
                        <h3 class="card-title">Review this restaurant:</h3>
                        <p>Share your thoughts with other customers</p>
                        </div>
                        <div class="text-center">
                          <p>Reviewing as: {{ user.username }}</p>
                          <form method="POST">
                            <input type="hidden" name="restaurant" value="{{ restaurant.pk }}">
                              {% csrf_token %}
                              {{ review_form | crispy }}
                              {{ crispy_forms | crispy }}
                              <div>
                                  <button type="submit" style="width: 23rem;" class="btn btn-primary">Submit</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>                  
                {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade " id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <div class="border-end">
            Menu 
          </div>
        </div>
      </div>
    </div>
  
    <!-- Booking form -->
    <div class="col-sm-4">
      <div class="card mx-auto" style="width: 25rem;">
        <div class="card-body">
            <div class="card-header text-center">
                <h3 class="card-title">Make a Booking</h3>
              </div><br>
              <div class="text-center">
                <form method="POST">
                  <input type="hidden" name="restaurant" value="{{ restaurant.pk }}">
                    {% csrf_token %}
                    {{ reservation_form.as_p }}
                    {{ crispy_forms | crispy }}
                    <div>
                        <button type="submit" style="width: 22rem;" class="btn btn-primary">Confirm Reservation</button>
                    </div>
                </form>
            </div>
        </div>
    </div> 
    </div>
  </div>
</div>
{% endif %}
{% endblock %}