{% extends 'base.html' %}

{% block content %}
{% load cloudinary %}  

<div class="container-fluid">
    <h2>{{ restaurant }}</h2>
    <div class="row" id="">
        <div class="col-12 mt-3 left">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in restaurant.image.url %}
                                <img class="card-img-top"
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                {% else %}
                                <img class="card-img-top" src="{{ restaurant.featured_image.url }}" alt="Restaurant image">
                                {% endif %}
                            </div>
                            <a href="" class="restaurant-link"> 
                                <h5 class="card-title">{{ restaurant.name }}</h5>
                                <span class="card-text"><i class="fa-solid fa-location-dot"></i> {{ restaurant.address }}</span>
                                <p class="card-text"><i class="fa-regular fa-clock"></i> {{ restaurant.cuisine }}</p>
                            </a>
                            <hr />
                            <span class="btn btn-primary">{{ restaurant.reserve }}</span> | <span class="card-text text-muted h6"><i class="far fa-heart"></i>{{ restaurant.rating }}</span>
                        </div>
                    </div>
                </div>

            </div>   
        </div>
    </div>
    
</div>
{% endblock %}