{% extends "base.html" %}
{% load static %}

{% block content %}
{% load cloudinary %}  

<div class="container-fluid">
    <div class="row">
        <div class="hero-image pt-5 text-center" >   
            <div class="hero-image-text pt-3 text-center">
                <h1>
                    <em>Welcome to CuisinePlus!</em>
                </h1>
                <span>An online restaurant reservation platform for diners.</span> 
                <p>Find a restaurant and make a booking.</p>
            </div>
        </div>
    </div>
    
    <!-- Restaurant Entries Column --> 
    <div class="container-fluid text-center">
        <div class="row pt-5">
            <h2><strong>How CuisinePlus Works</strong></h2>
        </div>
        <div class="row pt-4 pb-5">
            <div class="col-md-4">
                <i class="fa-solid fa-utensils fa-3x" aria-hidden="true"></i> 
                <h3>Pick from our featured Restaurants</h3>
            </div>
            <div class="col-md-4">
                <i class="fa-solid fa-table fa-3x" aria-hidden="true"></i>
                <h3>Make a booking by providing date, time, and number of guests</h3>
            </div>
            <div class="col-md-4 fa-3x">
                <i class="fa-solid fa-door-open" aria-hidden="true"></i>
                <h3>Looking forward to seeing you</h3>
            </div>
        </div>
    </div>
    
    <div class="col-12 mt-3 left restaurant-list">
        <div class="row">
            <h3>Featured Restaurants <span>&raquo;</span></h3>
            {% for restaurant in restaurant_list %}
            <div class="col-md-3">
                <div class="shadow-sm card mb-2">
                    <div class="card-body mb-2" >
                        <div class="image-container">
                            {% if "placeholder" in restaurant.image.url %}
                            <img class="card-img-top"
                                src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                            {% else %}
                            <img class="card-img-top img-restaurant-list" src="{{ restaurant.featured_image.url }}" alt="{{ restaurant.name }}">
                            {% endif %}
                        </div>
                        <a href="{% url 'restaurant_detail' restaurant.pk %}" class="text-decoration-none"> 
                            <span class="card-title font-weight-bold"><strong>{{ restaurant.name }}</strong></span>
                            <span class="card-text small link-dark"><i class="fa-solid fa-location-dot" aria-hidden="true"></i> {{ restaurant.address }}</span><br>
                            <span class="card-text small text-muted"><i class="fa-solid fa-clock" aria-hidden="true"></i> {{ restaurant.get_time_display }}</span><br>
                            <span class="card-text small text-muted"><i class="fa-solid fa-bowl-rice" aria-hidden="true"></i> {{ restaurant.get_cuisine_display }}</span><br>
                        </a>
                            <span class="card-text small text-muted"><i class="fa-solid fa-heart" aria-hidden="true"></i> {{ restaurant.like }}</span>
                            <span class="card-text small">{{ restaurant.number_of_likes }}</span><br>
                            <span class="card-text small"><i class="far fa-comments" aria-hidden="true"></i>{{ restaurant.review }} Reviews</span>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>   
    </div>
   </div>
</div>

{%endblock%}