{% extends "base.html" %}
{% load static %}

{% block content %}
{% load cloudinary %}  

<div class="container-fluid">
    <div class="row">
        <div class="hero-image" >
            <h2 class="hero-image-text"> <em>Find a Restaurant</em></h2>
        </div>
    </div>
    
    <!-- Restaurant Entries Column -->
    <div class="col-12 mt-3 left">
        <div class="row">
            <h6>Featured Restaurants</h6>
            {% for restaurant in restaurant_list %}
            <div class="col-md-3">
                <div class="shadow-sm card mb-2">
                    <div class="card-body mb-2" >
                        <div class="image-container">
                            {% if "placeholder" in restaurant.image.url %}
                            <img class="card-img-top"
                                src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                            {% else %}
                            <img class="card-img-top img-restaurant-list" src="{{ restaurant.featured_image.url }}" alt="Restaurant image">
                            {% endif %}
                        </div>
                        <a href="{% url 'restaurant_detail' restaurant.pk %}" class="text-decoration-none"> 
                            <span class="card-title font-weight-bold"><strong>{{ restaurant.name }}</strong></span>
                            <span class="card-text small link-dark"><i class="fa-solid fa-location-dot"></i> {{ restaurant.address }}</span><br>
                            <span class="card-text small text-muted"><i class="fa-regular fa-clock"></i> {{ restaurant.get_time_display }}</span><br>
                            <span class="card-text small text-muted"><i class="fa-solid fa-bowl-rice"></i> {{ restaurant.get_cuisine_display }}</span><br>
                            <span class="card-text small text-muted"><i class="far fa-heart"></i>{{ restaurant.rating }}</span>
                        </a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:6 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>   
    </div>
</div>

{%endblock%}