@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root {
    /* ------- COLORS ------ */
    --green: #4b7c20;
    --red: #E84610;
    --blue: #0275d8; 
    --black: #000000; 
    --white: #ffffff;

    /* TYPOGRAPHY */
    --content-text: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    min-height: 100%;
}

main {
    flex: 1 0 auto;
}

/* Navigation bar  */
.navbar {
    padding: 5px 35px 5px;
}

.nav-link {
    color: black;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: green;
}

h6 {
    font: italic 600 1rem roboto;
    border-bottom-style: dotted;
    border-bottom-color: blue;
    border-bottom-width: 1px;
}

  /* Cloudinary images  */

.hero-image {
    aspect-ratio: 3/1;
    background: #000 url('https://res.cloudinary.com/dxjcjyynt/image/upload/v1667207333/wtdgymkdpk3rhfyv6htn.jpg') center center/cover no-repeat;
    min-width: 100%;
    height: 40vh;

}

.hero-image-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #000;
    color: #fff;
    margin: auto;
    padding: 1em;
    text-align: center; 
    width: 550px;
}

.img-restaurant-list {
    max-width: 100%;
    height: 250px;  
}

.restaurant-list {
    margin-top: 5%;
    position: relative;
}

.img-restaurant-detail {
    aspect-ratio: 3 / 1;
   
    min-width: 100%;
    height:50vh;
    position: relative;
}

.img-restaurant-detail-text {
    font-size: 2em;
    padding: 1em;
    position: absolute;
    top: 25%;
    left: 16px;
    transform: translate(-10%, -10%);
}

.menu-image {
    aspect-ratio: 3/1;
    margin-top: 0.6rem;
    min-width: 100%;
    height: 30vh;
}

 /* End of Cloudinary images  */

 /* Accounts form  */
 .login-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .login-signup-border {
    margin-top: 13%;
    border: .1rem dotted #a8a8a8;
    border-radius: 5%;
    width: 30%;
    padding: 0 0 2%;
 }

 .login-signup-links {
    color: var(--Asparagus);
 }

 button.submit {
    width: 200px;
 }

 /* Accounts form ends */

 .review-form {
    margin-top: 10px;
 }

 /* reservations  */

 .reservation-top {
    margin-top: 50px;
 }

 .cancel-button {
    border: 1px solid #a8a8a8;
    background-color:#f5f5f5;
    color: #000
 }

 .messages {
    background-color: #c3b091;
    border: 1px solid 
 }

  /* reservations end */

  /* like buttons  */
  .btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

button#v-pills-home-tab {
    border: 1px dotted;
}

.page-not-found {
    display: flex;
    flex-direction: column;
    font-family: 'poppins', sans-serif;
    font-size: 3em;
    margin: auto;
    padding: 1em;
    text-align: center;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    text-align: center;
    width: 100%;
}