@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root {
    /* ------- COLORS ------ */
    --earthy-green: #cfdbc5;
    --Asparagus: #89a670;
    --khaki: #c3b091; 
    --red-ochre: #913831; 
    --off-white: #f2f2f1;
    --pale-gold: #e6be8a;
    --envy: #8dac9a;

    /* TYPOGRAPHY */
    --content-text: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    min-height: 100%;
}

main {
    flex: 1 0 auto;
}

/* Navigation bar  */
.navbar {
    padding: 5px 35px 5px;
}

.nav-link {
    color: black;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: green;
}

h6 {
    font: italic 600 1rem roboto;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

  /* Cloudinary images  */

.hero-image {
    aspect-ratio: 3/1;
    background: #000 url('https://res.cloudinary.com/dxjcjyynt/image/upload/v1667207333/wtdgymkdpk3rhfyv6htn.jpg') center center/cover no-repeat;
    margin-top: 10;
    min-width: 100%;
    height: 40vh;
}

.hero-image-text {
    color: #fff;
    font-size: 2em;
    margin: auto;
    padding: 1em;
    text-align: center;
    width: 350px;
}

.img-restaurant-detail {
    aspect-ratio: 3/1;
    /* background: #000 url('https://res.cloudinary.com/dxjcjyynt/image/upload/v1666088176/hrxrsyl89wwchskud4mo.jpg') center center/cover no-repeat; */
    /* margin-top: 10; */
    max-width: 100%;
    height: auto;  
    position: relative;
}

.img-restaurant-detail-text {
    font-size: 2em;
    padding: 1em;
    position: absolute;
    top: 35%;
    left: 16px;
    transform: translate(-10%, -10%);
}

.menu-image {
    aspect-ratio: 3/1;
    background: #000 url('https://res.cloudinary.com/dxjcjyynt/image/upload/v1666728863/qfd81q0viojnl0c7rhs8.jpg') center center/cover no-repeat;
    margin-top: 10;
    min-width: 100%;
    height: 40vh;
}

 /* End of Cloudinary images  */

 /* Accounts form  */

 /* Accounts form ends */

button#v-pills-home-tab {
    border: 1px dotted;
}

.page-not-found {
    display: flex;
    flex-direction: column;
    font-family: 'poppins', sans-serif;
    font-size: 3em;
    margin: auto;
    padding: 1em;
    text-align: center;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    text-align: center;
    width: 100%;
}