@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root {
    /* ------- COLORS ------ */
    --earthy-green: #cfdbc5;
    --Asparagus: #89a670;
    --khaki: #c3b091; 
    --red-ochre: #913831; 
    --off-white: #f2f2f1;
    --pale-gold: #e6be8a;
    --envy: #8dac9a;

    /* TYPOGRAPHY */
    --content-text: 'Roboto', sans-serif;
}

body {
    background-color: var(--red-ochre);
    display: flex;
    flex-direction: column;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    height: 100%;
}

.navbar-brand {
    background-color: var(--red-ochre);
}

main {
    height: 100vh;
    width: 100vw;
}

.nav-link {
    color:red;
}

.nav-link:hover {
    color:aqua;
}

.active {
    text-decoration: 2px underline #f7f5ec;
  }