{% extends 'base.html' %}
{% load crispy_forms_tags%}

{% block content %}

{% if user.is_authenticated %}
<div>
 
    <h1>
        Booking Form
    </h1>

    <form method="POST" action="{% url 'booking' %}">
        {% csrf_token %}
        {{ booking_form.as_p }}
        <div class="col-sm-4">
            <div class="input-group date" id="datepicker">
                <span >
                    {{ booking_form.time }}
                    <i class="fa fa-clock fa-2x"></i>
                    <!-- </span> -->
                    <!-- <span>{{ booking_form.date }} </span> -->
                </span>
            </div>
            <div class="input-group date" id="datepicker">
                <!-- <input type="text" class="form-control"> -->
                <!-- <span class="input-group-append"> -->
                <span >
                    {{ booking_form.date }}
                    <i class="fa fa-calendar fa-2x"></i>
                    <!-- </span> -->
                    <!-- <span>{{ booking_form.date }} </span> -->
                </span>
        
            </div>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>

{% else %}

<div>
    <h1>
        Book a Table
    </h1>
</div>

<div>
    <!-- {{ user }} -->
    {% for booking in booking_list %}
    {{booking.user}}
    {{booking.restaurant}}
    {% endfor %}
    
</div>

{% endif %}

<script type="text/javascript">
    $(function() {
        $('#datepicker').datepicker();
    });
</script>
{% endblock %}