{% extends 'base.html' %}
{% load crispy_forms_tags%}

{% block content %}

{% if user.is_authenticated %}
<div class="col-sm-4">
    {% for booking in bookings %}
        <p>{{ booking.first_name }}</p>
        <p>{{ booking_form.as_p }}</p>
        <a href="{% url 'edit' booking.pk %}"><button class="btn btn-primary" formaction="">Edit</button></a>
        <a href="{% url 'edit' booking.pk %}"><button class="btn btn-primary" formaction="">Delete</button></a>
    {% endfor %}
{% else %}

    <h1>
        Booking Form or a new form
    </h1>

    <form method="POST" action="{% url 'booking' %}">
        {% csrf_token %}
        {{ booking_form.as_p }}
        <div class="col-sm-4">
        </div>
        <input type="submit" value="Submit">
        <a href=""><button class="btn btn-primary" formaction="">Edit Booking</button></a> 
    </form>
</div>



<div>
    <h1>
        Book a Table
    </h1>
</div>

<div>
    {% for booking in booking_list %}
    {{booking.user}}
    {{booking.restaurant}}
    {% endfor %}
    
</div>

{% endif %}

<script type="text/javascript">
    $(function() {
        $('#datepicker').datepicker();
    });
</script>
{% endblock %}