{% extends 'base.html' %}
{% load crispy_forms_tags%}

{% block content %}

{% if user.is_authenticated %}
<div class="card mx-auto text-center" style="width: 18rem;">
    <div class="card-body">
        {% for booking in bookings %}
        <div class="card-header">
            <h5 class="card-title">Your Booking Detail:</h5>
          </div>
        <p class="card-text">First Name: {{ booking.first_name }}</p>
        <p class="card-text">Last Name: {{ booking.last_name }}</p>
        <p class="card-text">No. of Guests: {{ booking.number_of_guests }}</p>
        <p class="card-text">Date: {{ booking.date }}</p>
        <p class="card-text">Time: {{ booking.time }}</p>
        <p class="card-text">Phone: {{ booking.phone }}</p>
        <p class="card-text">Additional Info: {{ booking.additional_info }}</p>
        <div class="btn-group btn-group-justified">
            <a href="{% url 'edit' booking.pk %}" class="btn btn-info">Edit</a>
            <a href="{% url 'delete' booking.pk %}" class="btn btn-danger">Delete</a>
        </div>
        <hr><br>
        {% endfor %}
    </div>
</div>

{% endif %}
{% endblock %}